.clearfix:after { display: block; content: ""; clear:both;}
.contact .mask { display: none; position: absolute; z-index: 999; width: 100%;height: 100%;  color: #fff; text-align: center; background: rgba(0,0,0,0.5); vertical-align: middle;}
.contact .mask span {position: absolute; top: 50%; left: 50%; margin-left: -40px; margin-top: -20px; width: 80px; height: 40px; line-height: 40px; font-size: 20px;}
.contact .container { margin: 0 auto; width: 300px;}
.contact .bar { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; height: 40px; background: #21292b; line-height: 40px; font-size: 20px; color: #fff;}
.contact .bar .diff { color:#1a2121; padding: 0 10px;}
.contact .bar .msg { font-size: 16px;}
.contact .loginbox { padding-top: 40px;}
.contact .login .photo { margin: 20px auto; width: 70px; height: 70px; background: url(../img/face/0.jpg);}
.contact .login .user { margin-top: 10px;}
.contact .login  .btmline { position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; border: 1px solid transparent; border-color : transparent #ededed #ededed #ededed;}
.contact .login  .active { border-color: transparent #a1df8c #a1df8c #a1df8c; }
.contact .login .name,.password{ position: relative; height: 40px; line-height: 40px; font-size: 14px; }
.contact .login .name span,.password span { padding-left: 5px; padding-right: 35px;}
.contact .login .name input,.password input { border: 0; outline: none;}
.contact .login .submit { margin-top: 20px; height: 40px;line-height: 40px; background: #a1df8c;  border-radius: 2px; color: #fff; font-size: 14px; text-align: center;}

.contact .chat { display: none; position: relative;  height: 100%; padding-top: 40px; padding-bottom: 50px; background: #ebebeb; }
.contact .chat .wraper{ margin: 0 auto; width: 308px;  }
.contact .chat .msgbox {  padding-top: 10px;}
.contact .chat .face { float: left;}
.contact .chat .face img{ width: 34px; height: 34px; }
.contact .chat .user {  padding-left: 40px; max-width: 214px;}
.contact .chat .username { padding: 0 4px; height: 16px; line-height: 16px; font-size: 10px; color: #bfbfbf;}
.contact .chat .usermsg {  line-height: 16px; }
.contact .chat .usermsg span{ position: relative; display: inline-block;padding: 8px; border-radius: 4px; border: 1px solid #d2d2d2; background: #fff;}
.contact .chat .usermsg span:before {position: absolute; content: ""; top: 12px; left: -10px; width: 0; height: 0; border: 5px solid transparent; border-right-color: #d2d2d2;}
.contact .chat .usermsg span:after { position: absolute; content: ""; top: 12px; left: -9px; width: 0; height: 0; border: 5px solid transparent; border-right-color: #fff;}
.contact .chat .self .face { float: right;}
.contact .chat .self .user { float: right;  padding-left: 0px; padding-right: 8px;}
.contact .chat .self .username {float: right;  }
.contact .chat .self .usermsg span {background: #b1e866; border-color: #a3d65d;}
.contact .chat .self .usermsg span:before { top: 12px; left: auto; right: -10px;  border-right-color: transparent; border-left-color: #a3d65d;}
.contact .chat .self .usermsg span:after {top: 12px;left: auto; right: -9px;  border-right-color: transparent;  border-left-color: #b1e866;}
.contact .chat .sendbox { position: fixed; left: 0; bottom: 0px; width: 100%; height: 40px;background: #fff; border-top: 1px solid #d2d2d2;}
.contact .chat .sendbox .wraper { position: relative; margin: 5px auto; width: 300px; height: 30px; line-height: 30px; }
.contact .chat .sendbox input{ float: left; margin: 0 5px; height: 20px; width: 240px; border: 0; border-bottom: 1px solid #ededed;  outline: none;}
.contact .chat .sendbox .active { border-bottom: 1px solid #a1df8c;}
.contact .chat .sendbox .msgbtn {float: left;  width: 40px; height: 24px; line-height: 24px; background: #84c725; border-radius: 2px; text-align: center; color: #fff;}
