input{margin-top:30px;}
.space3d {
  perspective: 1000px;
  width: 250px;
  height: 250px;
  text-align: center;
  margin:200px;
}
._3dbox {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg);
}
._3dface {
  overflow: hidden;
  position: absolute;
  border: 1px solid #888;
  background: #FFF;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: 250px;
  opacity: 0.8;
  width: 250px;
  height: 250px;
  background-size:100%;
}
._3dface--front {
  transform: translateZ(125px);
  background:url(img/66.jpg) no-repeat center center;
}
._3dface--top {
  transform: rotateX(90deg) translateZ(125px);
  background:url(img/111.jpg) no-repeat center center;
}
._3dface--bottom {
  transform: rotateX(-90deg) translateZ(125px);
  background:url(img/22.jpg) no-repeat center center;
}
._3dface--left {
  transform: rotateY(-90deg) translateZ(125px);
  background:url(img/33.jpg) no-repeat center center;
}
._3dface--right {
  transform: rotateY(90deg) translateZ(125px);
  background:url(img/44.jpg) no-repeat center center;
}
._3dface--back {
  transform: rotateY(180deg) translateZ(125px);
  background:url(img/55.jpg) no-repeat center center;
}
#radio-left:checked ~ .space3d ._3dbox { transform: rotateY(90deg);}
#radio-right:checked ~ .space3d ._3dbox { transform: rotateY(-90deg);}
#radio-back:checked ~ .space3d ._3dbox { transform: rotateY(180deg);}
#radio-bottom:checked ~ .space3d ._3dbox { transform: rotateX(90deg);}
#radio-top:checked ~ .space3d ._3dbox { transform: rotateX(-90deg);}
