#clickBox{ width:300px; height:300px; border:1px solid #000; border-radius:50%; position:absolute; top:100px;left:10px;  background:#fff; box-shadow:1px 1px 5px #000;}
#clickBox .cap{ width:20px; border-radius:50%; height:20px; background:#999; position:absolute; left:50%; top:50%; margin:-10px 0 0 -10px;}
#clickBox em{ font-style:normal; font-weight:bold; font-size:16px; color:#999}
#clickBox div{ -webkit-transform-origin:center bottom;}
#clickBox .hour{ width:14px; height:80px; background:#000; position:absolute; left:50%; margin-left:-7px; top:50%; margin-top:-80px; border-radius:50% 50% 0 0;}
#clickBox .min{ width:10px; height:100px; background:#282828; position:absolute; left:50%; margin-left:-5px; top:50%; margin-top:-100px;border-radius:50% 50% 0 0;}
#clickBox .sec{ width:4px; height:120px; background:#f00; position:absolute; left:50%; margin-left:-2px; top:50%; margin-top:-120px;}

#clickBox .scale{ width:4px; height:10px; background:#000; position:absolute; left:50%; margin-left:-2px; -webkit-transform-origin:center 150px;}
#clickBox .bs{ width:6px; height:18px; background:#000; position:absolute; left:50%; margin-left:-3px;-webkit-transform-origin:center 150px;}

#clickBox span em{ margin-top:20px; width:100px; position:absolute; left:50%; margin-left:-50px; text-align:center;}
