@charset "utf-8";
/*重置*/
body{margin: 0;padding: 0;width: 100%;height: 100%;overflow: hidden; font:12px/1em "Microsoft YaHei";}
h1,h2,h3,h4,h5,h6 {margin:0; font:12px/1em "Microsoft YaHei";}
ul, ol {margin:0; padding:0;}
li {list-style:none;}
img {border:none;}
em {font-style:normal;}
p {margin:0;}
strong {font-weight:normal;}
a {text-decoration:none;}

nav:after,
section:after,
.user:after
{
	content:' ';
	clear:both;
	display:block;
}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*---- 遮罩 ----*/
@-webkit-keyframes changecolor{
	0%{opacity: 0; -webkit-transform: translateY(30px)}
	50%{opacity: 1; -webkit-transform:translateY(0px)}
	80%{opacity: 0; -webkit-transform:translateY(-30px)}
	100%{opacity: 0;}
}

.mask { position: absolute; z-index: 9999; height: 100%; width: 100%; background: #ccc; }
.mask .mask { position: relative;}
.mask .top { padding-top: 20px;}
.mask .time,.weather { margin: 0 auto; width: 320px; text-align: center;  line-height: 30px; font-size: 14px; }
.mask .btm{ position: absolute; bottom: 60px; left: 0; width: 100%; text-align: center; font-size: 30px; color: #059; -webkit-animation: changecolor 3.5s linear infinite;}


/*---- 首页 ----*/
#canvas{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 320px;
	height: 568px;
	background-image: url(../img/bg.jpg) ;
	background-color: #0ac;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.canvas .main{
	position: relative; 
	width: 320px;
	height: 100%;
	-webkit-transform: scale(1);
	-webkit-transition: -webkit-transform  1s ease;
}
#content {
	position: relative;
}
.main .top { height: 50px;}
.main .bottom { position: absolute; bottom: 0; left: 0; width: 100%; height: 96px;}
.main .icon { position: absolute;  border-radius: 20%; background-size: cover; z-index: 2; -webkit-transform: scale(1);  -webkit-transition: -webkit-transform  0.5s ease; }
.main .name { position: absolute;bottom: -24px;left: -15px;width: 80px;height: 20px;color: #fff;line-height: 20px;text-shadow: 1px 1px 2px #666;text-align: center;}
.main .dotted { display: none; position: absolute;-webkit-transition: opacity  0.5s ease; border-radius: 20%; width: 50px; height: 50px; border: 2px solid #ccc; box-shadow: 0px 0px 2px; }

/*------appbox---------*/
.appbox { display: none; position: absolute; z-index: 99999; overflow: auto;width: 100%; height: 100%;background: #fff;opacity: 0;-webkit-transform:scale(0.5); -webkit-transition: opacity  0.5s ease,-webkit-transform  0.5s ease; }






/*--- switch---*/

.switch {  position: absolute; height: 100% ; background: #ccc;  opacity: 0;-webkit-transform: scale(0); -webkit-transition: opacity  0.5s ease,-webkit-transform 0.5s ease;}
.switch .header { height: 20px; background: #ccc;}
.switch .box {  position: relative; margin: 100px auto; width: 320px; height: 217px; overflow: hidden;}
.switch .box ul { position: absolute; -webkit-transform: translateX(0); -webkit-transition:  -webkit-transform  0.5s ease; width: 1280px; height: 217px; }
.switch .box ul li { width: 320px; float: left;}
.switch .box ul li img { width: 320px; }
.switch .box ol { position: absolute; bottom: 5px; right: 10px; width: 80px; height: 10px;}
.switch .box ol li { float: left;  margin: 0 5px; width: 8px; height: 8px;border-radius: 50%; background: transparent; border: 1px solid #0ac;}
.switch .box ol .active { background: #0ca;}
.switch .close { margin: 0 auto; width: 50px; height: 50px; line-height: 50px; background: #0ac; border-radius: 50%; font-size: 20px; text-align: center; color: #fff; font-weight: bold;}



