@charset "utf-8";
/*重置*/
@charset 'utf-8';
body{font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;color: #000000;font-size: 14px; font-family: 微软雅黑;
	color: #fff;}
body, 
div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,textarea,
p,blockquote,th,td,hr,button,
footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}/*html5*/
table{border-collapse:collapse;border-spacing:0;}
input,h1,h2,h3,h4,h5,h6,select,button,textarea{font-family: inherit;font-weight: normal;}
address,caption,cite,code,dfn,em,strong,th,var, i,pre{ font-weight: normal; font-style: normal;} 
input,textarea,select{margin:0px;padding:0px;outline:none;border:none; }
input[type="text"],textarea,select{margin:0px;padding:0px;}
a,a:hover{text-decoration: none;outline: none;color: #6E6E6E;}
i,em{font-style:normal;}
img,fieldset{border:none;}
ol,ul,li{list-style: none;}
table{width: 100%;border-collapse: collapse;border-spacing: 0;}
textarea{resize: none;}
/*清除浮动*/
.clearfix:before, .clearfix:after { content:"";display: table;}
.clearfix:after{clear:both;	overflow: hidden;}
.clearfix{zoom:1;clear:both;}
.fl{ float: left;}
.fr{ float:right;}

/*移动端*/
html, body {-webkit-user-select: none;   user-select: none;-webkit-user-drag:none;}/* 禁止选中文本（如无文本选中需求，此为必选项） */
body{-webkit-overflow-scrolling: touch;}
*, ::after, ::before{-webkit-tap-highlight-color: rgba(0,0,0,0);}/*click会出现绑定点击区域闪一下*/
input[type="text"],input[type="password"],input[type="button"],input[type="submit"],select{
	-webkit-appearance:none;
}/*去除input默认样式*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}/*阻止旋转屏幕时自动调整字体大小*/
a, img {-webkit-touch-callout: none; }/* 禁止长按链接与图片弹出菜单 */
img,video{max-width:100%;height:auto;}
nav:after,
section:after,
.user:after
{
	content:' ';
	clear:both;
	display:block;
}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*---- 遮罩 ----*/
@-webkit-keyframes changecolor{
	0%{opacity: 0; -webkit-transform: translateY(30px)}
	50%{opacity: 1; -webkit-transform:translateY(0px)}
	80%{opacity: 0; -webkit-transform:translateY(-30px)}
	100%{opacity: 0;}
}

.mask { position: absolute; z-index: 9999; height: 100%; width: 100%; background: #ccc; }
.mask .mask { position: relative;}
.mask .top { padding-top: 20px;}
.mask .time,.weather { margin: 0 auto; width: 320px; text-align: center;  line-height: 30px; font-size: 14px; }
.mask .btm{ position: absolute; bottom: 60px; left: 0; width: 100%; text-align: center; font-size: 30px; color: #059; -webkit-animation: changecolor 3.5s linear infinite;}


/*---- 首页 ----*/
#canvas{
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 320px;
	height: 568px;
	background-image: url(../img/bg.jpg) ;
	background-color: #0ac;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.canvas .main{
	position: relative; 
	width: 320px;
	height: 100%;
	-webkit-transform: scale(1);
	-webkit-transition: -webkit-transform  1s ease;
}
#content {
	position: relative;
}
.main .top { height: 20px;}
.main .bottom { position: absolute; bottom: 0; left: 0; width: 100%; height: 96px;}
.main .icon { position: absolute;  border-radius: 20%; background-size: cover; z-index: 2; -webkit-transform: scale(1);  -webkit-transition: -webkit-transform  0.5s ease; }
.main .name { position: absolute;bottom: -24px;left: -15px;width: 80px;height: 20px;color: #fff;line-height: 20px;text-shadow: 1px 1px 2px #666;text-align: center;}
.main .dotted { display: none; position: absolute;-webkit-transition: opacity  0.5s ease; border-radius: 20%; width: 50px; height: 50px; border: 2px solid #ccc; box-shadow: 0px 0px 2px; }

/*------appbox---------*/
.appbox { display: none; position: absolute; z-index: 99999; overflow: auto;width: 100%; height: 100%;background: #fff;opacity: 0;-webkit-transform:scale(0.5); -webkit-transition: opacity  0.5s ease,-webkit-transform  0.5s ease; }
.js-close{ width:20px; height:20px; background:url(../img/js-close.jpg) no-repeat center center; position:absolute; left:10px; top:10px;}
.js-close2{width: 50px; height: 50px; margin:0 auto; margin-top:80px; border-radius: 50%; background: #0ac; position:static;}




/*--- switch---*/

.switch {  position: absolute; height: 100% ; background: #ccc;  opacity: 0;-webkit-transform: scale(0); -webkit-transition: opacity  0.5s ease,-webkit-transform 0.5s ease;}
.switch .header { height: 20px; background: #ccc;}
.switch .box {  position: relative; margin: 100px auto; width: 320px; height: 217px; overflow: hidden;}
.switch .box ul { position: absolute; -webkit-transform: translateX(0); -webkit-transition:  -webkit-transform  0.5s ease; width: 1280px; height: 217px; }
.switch .box ul li { width: 320px; float: left;}
.switch .box ul li img { width: 320px; }
.switch .box ol { position: absolute; bottom: 5px; right: 10px; width: 80px; height: 10px;}
.switch .box ol li { float: left;  margin: 0 5px; width: 8px; height: 8px;border-radius: 50%; background: transparent; border: 1px solid #0ac;}
.switch .box ol .active { background: #0ca;}
.switch .close { margin: 0 auto; width: 50px; height: 50px; line-height: 50px; background: #0ac; border-radius: 50%; font-size: 20px; text-align: center; color: #fff; font-weight: bold;}



