@charset "utf-8";
/* CSS Document */

/*reset*/
    body,h1,h2,h3,p,dl,dd,ul,ol,form,input,textarea,nav,select{margin:0; padding:0;}
    em{font-style:normal;}
    li{list-style:none;}
    i{font-style: normal;}
    a{text-decoration:none;}
    img{border:none; vertical-align:top;}
    table{border-collapse:collapse;}
    input,textarea{outline:none;}
    textarea{resize:none; overflow:auto;}
    body{background: #f1f1f1; font-family: "微软雅黑"; color: #333;}
/*search*/
    #search{width: 100%; height: 45px; padding: 7px 50px 7px 8px; box-sizing: border-box; position: fixed; left: 0; top: 0; background: #fff; z-index: 999;}
    #search .text{border: 1px solid #999; height: 28px; line-height: 28px; padding: 0 5px; overflow: hidden;}
    #search .text span{font-size: 12px; color: #666; padding-left: 20px; background: url(../img/search.png) no-repeat;}
/*banner*/
    #banner{width: 100%; padding-top: 45px; position: relative;}
    #banner ul li{display: none;}
    #banner li.active{display: block;}
    #banner ul li img{width: 100%;}
    #banner ol{position: absolute; left: 50%; bottom: 12px; -webkit-transform: translateX(-50%);}
    #banner ol li{width: 5px; height: 5px; border-radius: 50%; float: left; margin-left: 8px; border: 1px solid #fff;}
    #banner ol li.active{border: 1px solid #e14747; background: #e14747;}
/*nav*/
    nav{width: 100%;}
    nav .nav_list{position: relative; padding: 8px 8px 0 112px; overflow: hidden;}
    /*public*/
    .nav_list li{box-sizing: border-box; width: 50%; text-align: center; height: 41px; line-height: 40px; border-left: 1px solid #f2f2f2; border-bottom: 1px solid #f2f2f2; overflow: hidden; background: #ff697a; float: left;}
    .nav_list li a{color: #fff; font-size: 15px;}
    .nav_list li h3 a:after{content: ''; display: block; background: url(../img/icon.png) no-repeat; background-size: 104px 326px; position: absolute; left: 50%; bottom: 6px; -webkit-transform: translateX(-50%);}
    /*最左边分类导航的li*/
    .nav_list li:nth-child(5n+1){position: absolute; width: 104px; height: 82px; left: 8px; top: 8px; background: #ff697a;}
    .nav_list li:nth-child(5n+1) h3{font-weight: normal; height: 41px;}
    /*bottom和下边框为0*/
    .nav_list li:nth-child(5n),.nav_list li:nth-child(5n+4){margin-bottom: 10px; border-bottom: 0;}
    /*hotel*/
    .nav_list li.hotel{border-bottom-color: #ff697a;}
    .nav_list li.hotel h3 a:after{width: 41px; height: 34px; background-position: 0 -129px;}
    /*jipiao*/
    .nav_list li.jipiao{border-bottom-color: #3d98ff; top: 100px;}
    .nav_list li:nth-child(5n)~li{background: #3d98ff;}
    .nav_list li.jipiao h3 a:after{width: 43px; height: 24px; background-position: -50px -121px;}
    /*lvyou*/
    .nav_list li.lvyou{border-bottom-color: #5ebe00; top: 192px;}
    .nav_list li:nth-child(10n)~li{background: #5ebe00;}
    .nav_list li.lvyou h3 a:after{width: 35px; height: 42px; background-position: 0 -179px;}
    /*shenbian*/
    .nav_list li.shenbian{border-bottom-color: #fc9720; top: 284px;}
    .nav_list li:nth-child(15n)~li{background: #fc9720;}
    .nav_list li.shenbian h3 a:after{width: 37px; height: 32px; background-position: 0 -238px;}
/*pic_banner*/
    #pic_banner{margin: 0 8px 8px 8px; box-sizing: border-box;}
    #pic_banner ul{width: 100%; overflow: hidden; box-sizing: border-box; border: 1px solid #dadada;}
    #pic_banner ul li{float: left; width: 50%;}
    #pic_banner ul li:first-child{border-right: 1px solid #dadada; box-sizing: border-box;}
    #pic_banner ul li img{width: 100%;}
/*footer*/
    footer{margin: 0 8px 8px 8px; box-sizing: border-box;}
    .footerWrap{width: 100%; overflow: hidden; box-sizing: border-box; border: 1px solid #dadada; height: 53px; text-align: center;}
    .footerWrap div{height: 27px; position: relative; padding-top: 26px;}
    .footerWrap div a{font-size: 12px; color: #333;}
    .footerWrap .call{width: 33%; float: left;}
    .footerWrap .call i{width: 18px; height: 18px; background: url(../img/icon.png) no-repeat; background-size: 104px 326px; background-position: -59px -152px; position: absolute; left: 50%; top: 8px; -webkit-transform: translateX(-50%);}
    .footerWrap .app{width: 34%; float: left;}
    .footerWrap .app i{width: 18px; height: 18px; background: url(../img/icon.png) no-repeat; background-size: 104px 326px; background-position: -59px -172px; position: absolute; left: 50%; top: 8px; -webkit-transform: translateX(-50%);}
    .footerWrap .my{width: 33%; float: left;}
    .footerWrap .my i{width: 19px; height: 18px; background: url(../img/icon.png) no-repeat; background-size: 104px 326px; background-position: -59px -308px; position: absolute; left: 50%; top: 8px; -webkit-transform: translateX(-50%);}
/*last_footer*/
    #last_footer{width: 100%; text-align: center;}
    #last_footer a{font-size: 12px; color: #333;}
/*ctrip*/
    #ctrip{text-align: center; color: #999; width: 100%; font-size: 12px; padding: 6px 0 16px 0;}